@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --clay: #995f49;
  --stone: #f5efed;
  --sand: #ccafa4;
  --graphite: #242723;
  --base-unit: 4px;

  --background: #ffffff;
  --foreground: var(--graphite);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--graphite);
    --foreground: var(--stone);
  }
}

body, .docs-story {
  color: var(--foreground);
  background: var(--background);
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
